<footer class="footer">
  <div class="container">
    <ul class="list-reset footer-list">
      <li class="footer-list__column">
        <h2 class="footer-list__title">Company</h2>
        <a href="#" class="footer-list__link">
          About Us
        </a>
        <a href="#" class="footer-list__link">
          Blog
        </a>
        <a href="#" class="footer-list__link">
          Careers
        </a>
        <a href="#" class="footer-list__link">
          Contact Us
        </a>
      </li>
      <li class="footer-list__column">
        <h2 class="footer-list__title">Support</h2>
        <a href="#" class="footer-list__link">
          Help Center
        </a>
        <a href="#" class="footer-list__link">
          Safety Center
        </a>
        <a href="#" class="footer-list__link">
          Help Center
        </a>
      </li>
      <li class="footer-list__column">
        <h2 class="footer-list__title">Legal</h2>
        <a href="#" class="footer-list__link">
          Cookies Policy
        </a>
        <a href="#" class="footer-list__link">
          Privacy Policy
        </a>
        <a href="#" class="footer-list__link">
          Terms of Service
        </a>
        <a href="#" class="footer-list__link">
          Law Enforcement
        </a>
      </li>
      <li class="footer-list__column">
        <h2 class="footer-list__title">Install App</h2>
        <a href="#" class="footer-list__link">
          <img src="../../assets/img/download1.png" alt class="footer-list__img">
        </a>
        <a href="#" class="footer-list__link">
          <img src="../../assets/img/download2.png" alt class="footer-list__img">
        </a>
      </li>
    </ul>
    <div class="footer-bottom">
      <div class="footer-bottom__content">
        <p class="footer-bottom__rights">© 2021 DocMedic. All rights reserved</p>
        <ul class="list-reset footer-bottom-list">
          <li class="footer-bottom-list__item">
            <a href="#" class="footer-bottom-list__link">
              <img src="../../assets/svg/instagram.svg" alt="">
            </a>
          </li>
          <li class="footer-bottom-list__item">
            <a href="#" class="footer-bottom-list__link">
              <img src="../../assets/svg/dribble.svg" alt="">
            </a>
          </li>
          <li class="footer-bottom-list__item">
            <a href="#" class="footer-bottom-list__link">
              <a class="footer-bottom-list__ico">
                <img src="../../assets/svg/twitter.svg" alt="">
              </a>
            </a>
          </li>
          <li class="footer-bottom-list__item">
            <a href="#" class="footer-bottom-list__link">
              <a class="footer-bottom-list__ico">
                <img src="../../assets/svg/yt.svg" alt="">
              </a>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
