<div class="services">
  <div class="items" >
    <a routerLink="/doctors" class="item" *ngFor="let speciality of allSpecialities" >{{speciality.specialtyName}}</a>
  </div>
  <div class="pages">
    <div class="page-item">
      <li href="">1</li>
    </div>
    <div class="page-item">
      <li href="">2</li>
    </div>
    <div class="page-item">
      <li href="">3</li>
    </div>
    <div class="page-item">
      <li href="">4</li>
    </div>
    <div class="page-item">
      <li href="">5</li>
    </div>
  </div>
</div>
<app-footer></app-footer>
