<section class="hero">
  <div class="container">
    <h1 class="main-title">
      {{"find" | translate}}<br>{{"solution" | translate}}.
    </h1>
    <p class="main-descr">
      {{"visual" | translate}}<br> {{"distance" | translate}}
    </p>
    <a href="/reg_page" class="btn-reset btn-basic hero__btn">{{"book appointment" | translate}}</a>
  </div>
</section>
<div class="services" id="services">
  <div class="container">
    <h2 class="title title--center">Our services</h2>
    <p class="descr descr--center services__descr">
      We provide you the best health services. Adjust it to your health needs and make sure you undergo treatment with our highly qualified doctors. You can consult with us with different type of services suitable for your health.
    </p>
    <ul class="list-reset services-list">
      <li class="services-list__item">
        <img src="assets/img/phone.png" alt class="services-list__img">
        <h3 class="services-list__title">Consultation</h3>
        <p class="services-list__descr">Free consultation with our trusted doctors and get the best recommendations</p>
      </li>
      <li class="services-list__item">
        <img src="assets/img/medicine.png" alt class="services-list__img">
        <h3 class="services-list__title">Pharmacy</h3>
        <p class="services-list__descr">Buy  your medicines with our mobile application with a simple delivery system</p>
      </li>
      <li class="services-list__item">
        <img src="assets/img/ambulance.png" alt class="services-list__img">
        <h3 class="services-list__title">Emergency</h3>
        <p class="services-list__descr">You can get 24/7 urgent care for yourself or your children and your
          lovely family</p>
      </li>
      <li class="services-list__item">
        <img src="assets/img/blog.png" alt class="services-list__img">
        <h3 class="services-list__title">Blog</h3>
        <p class="services-list__descr">Get up-to-date recommendations and health related articles for a healthy life.</p>
      </li>
    </ul>
  </div>
</div>
<section class="about">
  <div class="container about__container">
    <div class="about__content">
      <h2 class="title">Leading healthcare providers</h2>
      <p class="descr about__descr">DocMedic provides progressive, and affordable healthcare, accessible on mobile and online for everyone. To us, it’s not just work. We take pride in the solutions we deliver.</p>
      <a href="#" class="btn-reset btn-basic about__btn">Learn more</a>
    </div>
  </div>
</section>
<section class="app">
  <div class="container">
    <div class="app__content">
      <h2 class="app__title">Download the mobile app</h2>
      <p class="app__descr">Our dedicated patient engagement app and
        web portal allow you to access information instantaneously (no tedeous form, long calls,
        or administrative hassle) and securely</p>
      <a href="#" class="app__link">Download now</a>
      <img src="../../assets/img/phone-big.png" alt class="app__img">
    </div>
  </div>
</section>
<section class="clients">
  <div class="container clients__container">
    <h2 class="title title--center clients__title">Our Clients Speak</h2>
    <p class="descr descr--center clients__descr">We have been working with clients around the world</p>
    <div class="slider">
      <div class="slider-wrapper">
        <div class="clients-slide">
          <div class="clients-slide__content">
            <h3 class="clients-slide__title">Great professionalism</h3>
            <p class="clients-slide__descr">I had an incredible experience with a doctor fro DocMedic and i´m more than impressed i´m making such a big difference in only three weeks</p>
          </div>
          <div class="clients-slide__bottom">
            <img src="assets/img/avatar.png" alt class="clients-slide__img">
            <span class="clients-slide__name">Jane Cooper</span>
            <span class="clients-slide__info">Account at Haspa</span>
          </div>
        </div>
        <div class="clients-slide">
          <div class="clients-slide__content">
            <h3 class="clients-slide__title">Great professionalism</h3>
            <p class="clients-slide__descr">I had an incredible experience with a doctor fro DocMedic and i´m more than impressed i´m making such a big difference in only three weeks</p>
          </div>
          <div class="clients-slide__bottom">
            <img src="assets/img/avatar.png" alt class="clients-slide__img">
            <span class="clients-slide__name">Jane Cooper</span>
            <span class="clients-slide__info">Account at Haspa</span>
          </div>
        </div>
        <div class="clients-slide">
          <div class="clients-slide__content">
            <h3 class="clients-slide__title">Great professionalism</h3>
            <p class="clients-slide__descr">I had an incredible experience with a doctor fro DocMedic and i´m more than impressed i´m making such a big difference in only three weeks</p>
          </div>
          <div class="clients-slide__bottom">
            <img src="assets/img/avatar.png" alt class="clients-slide__img">
            <span class="clients-slide__name">Jane Cooper</span>
            <span class="clients-slide__info">Account at Haspa</span>
          </div>
        </div>
        <div class="clients-slide">
          <div class="clients-slide__content">
            <h3 class="clients-slide__title">Great professionalism</h3>
            <p class="clients-slide__descr">I had an incredible experience with a doctor fro DocMedic and i´m more than impressed i´m making such a big difference in only three weeks</p>
          </div>
          <div class="clients-slide__bottom">
            <img src="assets/img/avatar.png" alt class="clients-slide__img">
            <span class="clients-slide__name">Jane Cooper</span>
            <span class="clients-slide__info">Account at Haspa</span>
          </div>
        </div>
        <div class="clients-slide">
          <div class="clients-slide__content">
            <h3 class="clients-slide__title">Great professionalism</h3>
            <p class="clients-slide__descr">I had an incredible experience with a doctor fro DocMedic and i´m more than impressed i´m making such a big difference in only three weeks</p>
          </div>
          <div class="clients-slide__bottom">
            <img src="assets/img/avatar.png" alt class="clients-slide__img">
            <span class="clients-slide__name">Jane Cooper</span>
            <span class="clients-slide__info">Account at Haspa</span>
          </div>
        </div>
        <div class="clients-slide">
          <div class="clients-slide__content">
            <h3 class="clients-slide__title">Great professionalism</h3>
            <p class="clients-slide__descr">I had an incredible experience with a doctor fro DocMedic and i´m more than impressed i´m making such a big difference in only three weeks</p>
          </div>
          <div class="clients-slide__bottom">
            <img src="assets/img/avatar.png" alt class="clients-slide__img">
            <span class="clients-slide__name">Jane Cooper</span>
            <span class="clients-slide__info">Account at Haspa</span>
          </div>
        </div>
        <div class="clients-slide">
          <div class="clients-slide__content">
            <h3 class="clients-slide__title">Great professionalism</h3>
            <p class="clients-slide__descr">I had an incredible experience with a doctor fro DocMedic and i´m more than impressed i´m making such a big difference in only three weeks</p>
          </div>
          <div class="clients-slide__bottom">
            <img src="assets/img/avatar.png" alt class="clients-slide__img">
            <span class="clients-slide__name">Jane Cooper</span>
            <span class="clients-slide__info">Account at Haspa</span>
          </div>
        </div>
      </div>
      <div class="slider-pagination"></div>
    </div>
  </div>
</section>
<section class="articles">
  <div class="container">
    <h2 class="title title--center articles__title">Check out our latest article</h2>
    <ul class="list-reset articles-list">
      <li class="articles-list__item">
        <img src="../../assets/img/article1.jpg" alt class="articles-list__img">
        <div class="articles-list__content">
          <h3 class="articles-list__title">Disease detection, check up in the laboratory</h3>
          <p class="articles-list__descr">In this case, the role of the health laboratory is very important to do a disease detection...</p>
          <a href="#" class="articles-list__link">Read more</a>
        </div>
      </li>
      <li class="articles-list__item">
        <img src="../../assets/img/article2.jpg" alt class="articles-list__img">
        <div class="articles-list__content">
          <h3 class="articles-list__title">Herbal medicines that are safe for consumption</h3>
          <p class="articles-list__descr">Herbal medicine is very widely used at this time because of its very good for your health...</p>
          <a href="#" class="articles-list__link">Read more</a>
        </div>
      </li>
      <li class="articles-list__item">
        <img src="../../assets/img/article3.jpg" alt class="articles-list__img">
        <div class="articles-list__content">
          <h3 class="articles-list__title">Natural care for healthy facial skin</h3>
          <p class="articles-list__descr">A healthy lifestyle should start from now and also for your skin health. There are some...</p>
          <a href="#" class="articles-list__link">Read more</a>
        </div>
      </li>
    </ul>
    <a href="#" class="btn-reset btn-basic articles__btn">View more</a>
  </div>
</section>
<app-footer></app-footer>

