<div class="auth-page">
  <div class="container">
    <a href="#" class="auth-page__home-link">
      <img src="assets/svg/logo.svg" alt="Logo" class="auth-page__logo">
      <span class="auth-page__company-name">KazMed</span>
    </a>
    <form action="#" [formGroup]="changeForm" class="auth-page__form auth-form" (ngSubmit)="onSubmit()">
      <div class="auth-form-top">
        <img src="assets/img/lock.png" alt class="auth-form-top__img">
        <div class="auth-form-top__content">
          <span class="auth-form-top__caption">Change your password</span>
        </div>
      </div>
      <div class="auth-form-top" *ngIf="isCorrect">
        <span class="auth-form-top__caption">Ooop! Passwords are not the same!</span>
      </div>
      <div class="auth-form__field">
        <input
          type="email" name="email" class="input-reset auth-form__input" id="Email"
          placeholder="email@email.com"
          [class.invalid]=" changeForm.controls['email'].invalid && changeForm.controls['email'].touched"
          formControlName="email"
          required>
        <label for="Email" class="auth-form__placeholder">Email</label>
      </div>
      <div class="auth-form__field">
        <input
          placeholder="Min 7 chars"
          formControlName="password"
          type="password" name="password" class="input-reset auth-form__input"
          [class.invalid]=" changeForm.controls['password'].invalid && changeForm.controls['password'].touched"
          required>
        <label class="auth-form__placeholder">New password</label>
      </div>
      <div class="auth-form__field">
        <input
          placeholder="Min 7 chars"
          formControlName="password2"
          type="password" name="password" class="input-reset auth-form__input"
          [class.invalid]=" changeForm.controls['password'].invalid && changeForm.controls['password'].touched"
          required>
        <label class="auth-form__placeholder">Confirm your password</label>
      </div>
      <button type="submit" class="btn-reset btn-basic auth-form__btn" >Change password</button>
      <p href="#" class="auth-form__link-to-register">Don`t have an account? <a routerLink="/reg_page">Sign Up</a></p>
    </form>
  </div>

</div>

