@import "src/style_components/card-info";
@import "src/style_components/search-results";
.clinics {
  padding: 36px 0;
  font-family: "Poppins", sans-serif;

  &__content {
    display: flex;
    justify-content: space-between;
  }
}

.clinics-favorite {
  position: absolute;
  right: 11px;
  top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  width: 30px;
  height: 30px;
  fill: var(--color-blue);
  background-color: rgb(65 75 190 / 12%);

  &__ico {
    width: 20px;
    height: 20px;
    fill: inherit;
  }
}
.linked{
  cursor: pointer;
  &:hover{
    color: var(--color-blue);
  }
}
