@import "src/style_components/card-info";
@import "src/style_components/search-results";
.booking {
  .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 68px;
    font-family: "Poppins", sans-serif;
  }

  .search-results-list__item {
    margin: 0 auto;
    margin-bottom: 21px;
    width: 100%;
    max-width: 330px;
  }
}

.about-doctor {
  margin-right: 20px;
  max-width: 580px;
}

.booking-time {
  font-family: "Poppins", sans-serif;
  max-width: 375px;

  &__title {
    margin: 0;
    margin-bottom: 38px;
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #000;
  }

  &__btn {
    font-family: "Poppins", sans-serif;
    width: 100%;
    line-height: 48px;
  }
}

.choose-date {
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__select {
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: var(--color-blue);
    background-color: rgba(0 0 0 / 0%);
    cursor: pointer;
  }

  &__option {
    color: var(--color-black);
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 91px;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    background-color: rgb(65 75 190 / 12%);
  }

  &__img {
    pointer-events: none;
  }
}

.slider {
  overflow-x: hidden;
  margin-bottom: 76px;

  &-wrapper {
    display: flex;
    align-items: center;
    max-width: 330px;
    transition: transform 0.2s ease-in-out;
  }
}

.days-slide {
  &__btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 13px;
    border: 1px solid rgb(203 209 218 / 50%);
    border-radius: 8px;
    padding: 7px 11px;
    width: 36px;
    text-align: center;
    background-color: rgb(0 0 0 / 0%);
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;

    &--active {
      border-color: rgb(65 75 190 / 12%);
      background-color: rgb(65 75 190 / 12%);
      pointer-events: none;
    }
  }

  &__week-day {
    display: block;
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    color: var(--color-gray);
    pointer-events: none;
  }

  &__number {
    display: block;
    font-weight: 600;
    font-size: 14px;
    color: var(--color-black);
    pointer-events: none;
  }
}

.choose-time {
  font-family: "Poppins", sans-serif;
  &__title {
    font-weight: 600;
    font-size: 15px;
    line-height: 133%;
    color: #000;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 93px;
    gap: 20px;
  }

  &__btn {
    border: 1px solid #cbd1da;
    border-radius: 3px;
    padding: 9px 0;
    font-weight: 600;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: var(--color-black);
    transition: background-color 0.2s ease-in-out;
    user-select: none;

    &--disable {
      color: var(--color-gray);
      pointer-events: none;
    }

    &--active {
      background-color: rgb(65 75 190 / 12%);
      pointer-events: none;
    }
    &:hover {
      background-color: rgb(65 75 190 / 12%);
    }
  }
}
mat-form-field{
  width: 100%;
}
.activeBtn{
  background-color: rgb(65 75 190 / 12%);
  pointer-events: none;
}
.disabled{
  opacity: 0.5;
  background-color: var(--color-blue);
  color: var(--color-light);
}
